{% extends "usuario_app/extende/base.html" %}

{% block title %}Histórico{% endblock %}

{% block content %}
<body
    class="font-display bg-background-light dark:bg-background-dark text-foreground-light dark:text-foreground-dark"
>
    <div class="flex flex-col min-h-screen content-center items-center">
        <main class="flex-grow p-4 w-full flex justify-center">
            <div class="max-w-md md:max-w-4xl mx-auto w-full p-4 space-y-6"> 
                <!-- Card -->
                <div class=" bg-white rounded-xl shadow-md ride-card p-4 flex flex-col space-y-3" data-id="ride-1">
                    
                    <div class="flex justify-between items-center pb-2 border-b border-gray-100">
                        <div class="flex items-center space-x-2 text-sm font-medium text-gray-700">
                            <svg class="w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                            <span>Carlos Silva Costa...</span>
                        </div>
                        
                        <p class="text-sm font-semibold text-gray-700">1:30 AM</p>
                    </div>

                    <div class="flex items-start space-x-3">
                        <div class="flex-1 space-y-0 relative">
                            

                            <p class="text-gray-500 ">De:</p>
                            <div class="flex items-center space-x-2 py-2">
                                <span class="material-symbols-outlined text-base text-primary">circle</span>
                                <span class="text-gray-800 font-medium">IFRN Campus Central</span>
                            </div>

                            <p class="text-gray-500 ">Para:</p>
                            <div class="flex items-center space-x-2 py-2">
                                <span class="material-symbols-outlined text-base text-primary">location_on</span>
                                <span class="text-gray-800 font-medium">Natal Shopping</span>
                            </div>
                            
                        </div>
                        
                        <div class="flex space-x-2 text-gray-600 self-start">
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 17h2c.6 0 1-.4 1-1v-3c0-.6-.4-1-1-1h-1V9c0-.6-.4-1-1-1H4c-.6 0-1 .4-1 1v4c0 .6-.4 1-1 1v3c0 .6.4 1 1 1h2"></path><circle cx="7" cy="17" r="2"></circle><circle cx="17" cy="17" r="2"></circle></svg>
                        </div>
                    </div>
                    
                    <div class="flex justify-between space-x-2 pt-3 border-t border-gray-100">
                        <div class="bg-green-100 font-medium text-green-800 px-3 py-1 rounded-lg font-medium ">
                            Carona aceita
                        </div>
                        <button class=" bg-red-500 hover:text-red-300 font-medium text-white px-2 py-1 rounded-lg">
                            Cancelar carona
                        </button>
                    </div>
                </div>
                <!--card-->
                <div class=" bg-white rounded-xl shadow-md ride-card p-4 flex flex-col space-y-3" data-id="ride-1">
                    
                    <div class="flex justify-between items-center pb-2 border-b border-gray-100">
                        <div class="flex items-center space-x-2 text-sm font-medium text-gray-700">
                            <svg class="w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                            <span>Carlos Silva Costa...</span>
                        </div>
                        
                        <p class="text-sm font-semibold text-gray-700">1:30 AM</p>
                    </div>

                    <div class="flex items-start space-x-3">
                        <div class="flex-1 space-y-0 relative">
                            

                            <p class="text-gray-500 ">De:</p>
                            <div class="flex items-center space-x-2 py-2">
                                <span class="material-symbols-outlined text-base text-primary">circle</span>
                                <span class="text-gray-800 font-medium">IFRN Campus Central</span>
                            </div>

                            <p class="text-gray-500 ">Para:</p>
                            <div class="flex items-center space-x-2 py-2">
                                <span class="material-symbols-outlined text-base text-primary">location_on</span>
                                <span class="text-gray-800 font-medium">Natal Shopping</span>
                            </div>
                            
                        </div>
                        
                        <div class="flex space-x-2 text-gray-600 self-start">
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 17h2c.6 0 1-.4 1-1v-3c0-.6-.4-1-1-1h-1V9c0-.6-.4-1-1-1H4c-.6 0-1 .4-1 1v4c0 .6-.4 1-1 1v3c0 .6.4 1 1 1h2"></path><circle cx="7" cy="17" r="2"></circle><circle cx="17" cy="17" r="2"></circle></svg>
                        </div>
                    </div>
                    
                    <div class="flex justify-between space-x-2 pt-3 border-t border-gray-100">
                        <div class="bg-green-100 font-medium text-green-800 px-3 py-1 rounded-lg font-medium">
                            Finalizada
                        </div>
                        <button class="hover:underline font-medium text-gray-600 px-6 py-1 rounded-lg flex items-center gap-1">
                            Exibir detalhes
                            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <!--Card-->
                    <div class=" bg-white rounded-xl shadow-md ride-card p-4 flex flex-col space-y-3" data-id="ride-1">
                    
                    <div class="flex justify-between items-center pb-2 border-b border-gray-100">
                        <div class="flex items-center space-x-2 text-sm font-medium text-gray-700">
                            <svg class="w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                            <span>Carlos Silva Costa...</span>
                        </div>
                        
                        <p class="text-sm font-semibold text-gray-700">1:30 AM</p>
                    </div>

                    <div class="flex items-start space-x-3">
                        <div class="flex-1 space-y-0 relative">
                            

                            <p class="text-gray-500 ">De:</p>
                            <div class="flex items-center space-x-2 py-2">
                                <span class="material-symbols-outlined text-base text-primary">circle</span>
                                <span class="text-gray-800 font-medium">IFRN Campus Central</span>
                            </div>

                            <p class="text-gray-500 ">Para:</p>
                            <div class="flex items-center space-x-2 py-2">
                                <span class="material-symbols-outlined text-base text-primary">location_on</span>
                                <span class="text-gray-800 font-medium">Natal Shopping</span>
                            </div>
                            
                        </div>
                        
                        <div class="flex space-x-2 text-gray-600 self-start">
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 17h2c.6 0 1-.4 1-1v-3c0-.6-.4-1-1-1h-1V9c0-.6-.4-1-1-1H4c-.6 0-1 .4-1 1v4c0 .6-.4 1-1 1v3c0 .6.4 1 1 1h2"></path><circle cx="7" cy="17" r="2"></circle><circle cx="17" cy="17" r="2"></circle></svg>
                        </div>
                    </div>
                    
                    <div class="flex justify-between space-x-2 pt-3 border-t border-gray-100">
                        <div class="bg-red-200 font-medium text-red-500 px-3 py-1 rounded-lg font-medium">
                            Recusada
                        </div>
                        <button class=" hover:underline text-gray-600 font-medium px-6 py-1 rounded-lg flex items-center gap-1">
                            Exibir detalhes
                            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                    </div>
                </div>
   
        </main>
    </div>

    
</body>
{% endblock %}